<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>センサーノード{{sid}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="node">{{sid}}</div>
    <div class="desc">{{desc}}</div>
    <p>sid={{sid}} i32sid={{i32sid}} data={{data}}</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>年</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>
                        <form method="POST" name="FORM_{{item[0]}}" action="/month">
                            <a href="javascript:FORM_{{item[0]}}.submit()">{{item[0]}}</a>
                            <input type="hidden" name="i32sid" value="{{i32sid}}">
                            <input type="hidden" name="sid" value="{{sid}}">
                            <input type="hidden" name="desc" value="{{desc}}">
                            <input type="hidden" name="year" value="{{item[0]}}">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/">一覧に戻る</a>
</body>
</html>